header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    border-radius: 40px;
    padding: 20px;
}

.cont_header {
    background-color: #6A9AB0;
    border: 5px solid;
    grid-column: span 2 / span 2;
    border-radius: 20px;
}

.cont_nav {
    background-color: #6A9AB0;
    border: 5px solid;
    grid-column-start: 3;
    border-radius: 20px;
}

.cont_nav li {
    display: inline; 
    margin-right: 10px; 
}

main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    border-radius: 40px;
    padding: 20px;
}

.cont_title {
    background-image: url('/assets/img/background.svg');
    background-size: 700px;
    background-color: #6A9AB0;
    border: 5px solid;
    grid-column: span 3 / span 3;
    border-radius: 20px;
    place-items: center;
}

.cont_proy {
    background-color: #3A6D8C;
    border: 5px solid;
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    border-radius: 20px;
}

.cont_git {
    background-color: #3A6D8C;
    border: 5px solid;
    grid-column-start: 3;
    grid-row-start: 2;
    border-radius: 20px;
}

footer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    border-radius: 40px;
    padding: 20px;
}

.cont_foot {
    background-color: #6A9AB0;
    border: 5px solid;
    grid-column: span 3 / span 3;
    border-radius: 20px;
}

body {
    background-color: #EAD8B1;
    font-family: 'Nunito',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #001F3F;
}

@font-face {
    font-family: 'Nunito';
    src: url('assets\fonts\Nunito-VariableFont_wght.ttf') format('ttf');
}